code/*.py linguist-language=Python
code/*.cpp linguist-language=C++
code/*.hpp linguist-language=C++
*.html linguist-vendored
*.css  linguist-vendored
*.js   linguist-vendored
*.tex  linguist-vendored
*.mp4  linguist-vendored
code/*.html linguist-vendored
code/*.css  linguist-vendored
code/*.tex  linguist-vendored

jiemin_writeup/*.tex linguist-vendored
jiemin_writeup/*.sty linguist-vendored
jiemin_writeup/*.log linguist-vendored
jiemin_writeup/*.bib linguist-vendored
jiemin_writeup/*.log linguist-vendored
jiemin_writeup/*.bbl linguist-vendored


jiemin_writeup/Infocom2017/*.tex linguist-vendored
jiemin_writeup/Infocom2017/*.sty linguist-vendored
jiemin_writeup/Infocom2017/*.log linguist-vendored
jiemin_writeup/Infocom2017/*.bib linguist-vendored
jiemin_writeup/Infocom2017/*.log linguist-vendored
jiemin_writeup/Infocom2017/*.bbl linguist-vendored


